#transition-container {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2% 5% 2% 5%;
    background-color: white;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.25s;
}

button:hover {
    background-color: black;
    cursor: pointer;
}

#nav {
    width: 500px;
    height: 100px;
    background-color: beige;
}

nav {
    display: flex;
    gap: 0.5rem
}

a {
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
a:hover,
a:focus {
    background-color: #fff;
    color: #333;
}

hr {
    height: 2px;
    background-color: darkslateblue;
    border: 1px solid darkslateblue;
}

 #imeges {
    width: 600px;
    height: auto;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1578241561880-0a1d5db3cb8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
  }


